# Visual Studio build folders
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Bb]uild/
[Pp]publish/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# NuGet packages
*.nupkg
packages/

# Build results
*.log
*.tmp

# Publish output
publish/
*.publish.xml

# Database local files
*.mdf
*.ldf
*.dbmdl
*.bak

# Rider/JetBrains
.idea/
*.sln.iml

# VS config
.vs/
*.VC.db
*.VC.VC.opendb

# No ignorar recursos de la app
!/SistemaFacturación/recursos/
!/SistemaFacturación/recursos/**

# No ignorar archivos SQLite.interop.dll en carpetas x64 y x86
!x64/SQLite.interop.dll
!x64/**/SQLite.interop.dll

!x86/SQLite.interop.dll
!x86/**/SQLite.interop.dll

# Ignorar carpetas bd/backupDB, excepto los archivos dbSistemaFacturacionStock.db
bd/backupDB/*
!bd/backupDB/dbSistemaFacturacionStock.db
!bd/backupDB/RespaldosSF/dbSistemaFacturacionStock.db
!bd/backupDB/
!bd/backupDB/RespaldosSF/
